@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url(/images/mark.png);
    background-size:auto;
}

header {
    width: 100%;
    height: 180px;
    padding: 2.2%;
    background-color: aqua;
}

header img{
    width: auto;
    height: 90px;
}
.head {
    display: flex;
    justify-content: space-between;
}

.head-item {
    display: flex;
    justify-content:space-around;
}

.head-nav {
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}

main {
    width: 100%;
    height: 1400px;
}

.main-img{
    text-align: center;
}
.main img{
    width: 100%;
}

footer{
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: coral;
    display: flex;
}

.foot-items{
    justify-content:space-between;
}

.flex1 { 
    flex: 1 1; 
}
.flex2 { 
    flex: 7 5;
    padding-left: 70px;
}

footer img{
    width: 120px;
    height: 90px;
}

.foot-nav {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.foot-item  {
    width: 32%;
    height: 60px;
}