@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url(./images/green.jpeg);
    background-size:auto;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    padding: 2.2%;
    background-color: aqua;
}

header img{
    width: 20%;
    height: auto;
}
.head {
    display: flex;
    justify-content: space-between;
}

.head-item {
    display: flex;
}

.head-nav {
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}

main {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.main-box {
    width: 90%;
    margin: 0 auto;
}

.main-box img{
    width: 100%;
}

.contents{
    margin-bottom: 70px;
    border: thick double #32a1ce;
    padding-bottom: 20px;
}

.box_title{
    background-color: lightblue;
    margin-bottom: 20px;
}

.box-items{
    display: flex;
    justify-content: space-between;
}
.box-img{
    width: 90%;
}
.box1-item{
    width: 30%;
    height: 300px;
}

.box1-item img{
    width: 90%;
}

.box1-txt{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

ul{
    list-style: none;
}


footer{
    width: 100%;
    padding: 10px;
    background-color: coral;
    display: flex;
    align-items: center;
}

.flex1 { 
    flex: 1 1; 
}
.flex2 { 
    flex: 7 5;
}

footer img{
    width: 120px;
    height: 90px;
}

.foot-nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.foot-item  {
    width: 32%;
    height: 60px;
}


.box2_item{
    display: flex;
    align-items: center;

}

.box2-content{
    width: 90%;
    margin: 0 auto;
}

.box3{
    width: 80%;
    margin: 0 auto;
}

.box3 img{
    width: 23%;
    height: auto;
    float: left;
}


dl{
    width:60%;
    margin: 0 auto; 
}
dt{
    float:left;
}

.box5_item{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.copy{
    text-align: center;
}
input{
    width: 60%;
    height: 30px;
}
textarea{
    width: 60%;
    height: 60px;
}