@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url(/images/green.jpeg);
    background-size:auto;
}

header {
    width: 100%;
    height: 180px;
    padding: 2.2%;
    background-color: aqua;
}

header img{
    width: auto;
    height: 90px;
}
.head {
    display: flex;
    justify-content: space-between;
}

.head-item {
    display: flex;
    justify-content:space-around;
}

.head-nav {
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}

main {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.main-box {
    width: 90%;
    margin: 0 auto;
}

.main-box img{
    width: 100%;
}

.contents{
    margin-bottom: 70px;
    border: thick double #32a1ce;
}

.box_title{
    background-color: lightblue;
    margin-bottom: 20px;
}

.box-items{
    display: flex;
    justify-content: space-between;
}
.box-img{
    width: 90%;
}
.box1-item{
    width: 30%;
    height: 300px;
}

.box1-item img{
    width: 90%;
}

.box1-txt{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}



footer{
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: coral;
    display: flex;
}

.foot-items{
    justify-content:space-between;
}

.flex1 { 
    flex: 1 1; 
}
.flex2 { 
    flex: 7 5;
    padding-left: 70px;
}

footer img{
    width: 120px;
    height: 90px;
}

.foot-nav {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.foot-item  {
    width: 32%;
    height: 60px;
}


.box2_item{
    display: flex;
    align-items: center;

}
